@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen font-sans text-softText;
  background-image: linear-gradient(
    135deg,
    #c7d2fe 0%,
    #a7f3d0 50%,
    #fbcfe8 100%
  );
  background-attachment: fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}
